@model IEnumerable<TrainingApi.Models.EmployeeModel>

@{
    ViewData["Title"] = "Employee page";
}

<h1>@ViewData["Title"]</h1>

<h4>Employee Table</h4>
<hr />
<div class="container">
   <div class="row">
       <table>
           <thead>
               <tr>
                   <td>Id</td>
                   <td>FirstName</td>
                   <td>LastName</td>
                   <td>Age</td>
                   <td>EmailAdress</td>
               </tr>
           </thead>
               
           @foreach (var empl in Model)
           {
               <tr>
                   <td>@empl.EmployeeId</td>
                   <td>@empl.FirstName</td>
                   <td>@empl.LastName</td>
                   <td>@empl.Age</td>
                   <td>@empl.EmailAdress</td>
               </tr>
           }
       </table>
   </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

